.beijing{
	z-index: -100;
}
#title1{
	background-color: #e5f5f4;
	width: 1440px;
	height: 71px;

}
.tu{
	margin-top: 10px;
	margin-left: 220px;
}
.shuru1{
	margin-top: -58px;
	margin-left: 330px;
}
.shuru11{
	border: 1px solid #2eab8e; 
    padding: 7px 0px;
    border-radius: 3px;
    padding-left:330px; 
    width: 20px;
}
.undershuru{
	margin-left: 335px;
	margin-top: 2px;
}
.undershuru1{
	color: #999999;
	font-size: 2px;
    text-decoration-line: none;
}
.sanjiao{
	position: relative;
	border: solid 5px #999999 ;
	width: 0px;
	height: 0px;
	border-color: #999999 transparent transparent transparent ;
	margin-top: -10px;
	margin-left: 150px;

}
.leftkuang{
	margin-top: -52.5px;
	margin-left: 660px;
	
}
.sou{
	border: solid #2eab8e ;
	width: 35px;
	height: 33px;
	background-color: #2eab8e;
    border-radius: 3px;

}
.chongqing{
	font-size: 4px;
}
.weizhi{
	margin-left: 1190px;
	margin-top: -10px;
}
.denglu{
	font-size: 10px;
	color: orange;
	text-decoration-line: none;
}
.underchongqing{
	font-size: 10px;
	margin-left: 1000px;
}
#title2{
	background-color: #2eab8e;
	width: 1440px;
	height: 44px;
}
.tittle22{

}
.shouye{
	background-color: #0b696f;
	height: 44px;
	width: 102px;
	margin-left: 220px;
	text-align: center;
	line-height: 45px;
	font-size: 20px;
	font-weight: bold;
	color: white;
}
.other2{
	background-color: #2eab8e;
	width: 102px;
	height: 44px;
	margin-left: 322px;
	margin-top: -44px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	font-weight: bold;
	color: white;

}
.other2:hover{
	background-color: #0b696f;
}
.other3{
	background-color: #2eab8e;
	width: 102px;
	height: 44px;
	margin-left: 424px;
	margin-top: -44px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	font-weight: bold;
	color: white;
}
.other3:hover{
	background-color: #0b696f;
}
.other4{
	background-color: #2eab8e;
	width: 102px;
	height: 44px;
	margin-left: 526px;
	margin-top: -44px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	font-weight: bold;
	color: white;
}
.other4:hover{
	background-color: #0b696f;
}
.other5{
	background-color: #2eab8e;
	width: 102px;
	height: 44px;
	margin-left: 628px;
	margin-top: -44px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	font-weight: bold;
	color: white;
}
.other5:hover{
	background-color: #0b696f;
}
.other6{
	background-color: #2eab8e;
	width: 102px;
	height: 44px;
	margin-left: 730px;
	margin-top: -44px;
	text-align: center;
	font-size: 20px;
	line-height: 45px;
	font-weight: bold;
	color: white;
}
.other6:hover{
	background-color: #0b696f;
}
.xuanxiangbeijing1{
	position: absolute;
	margin-left: 220px;
	margin-top: -399px;
	background-color: #84ccc9;
	height: 338px;
	width: 103px;
}
.xuanxiangbeijing2{
	position: absolute;
	margin-left: 323px;
	margin-top: -399px;
	background-color: white;
	width: 309px;
	height: 338px;
}
.xuanxiang{
	position: absolute;
	margin-left: 220px;
	margin-top: -399px;
}
.zhusu{
	background-color: #3dbdb0;
	height: 47px;
	width: 102px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: #0a6678;
	font-size: 16px;
}
.jipiao{
	background-color: #84ccc9;
	height: 47px;
	width: 102px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: white;
	font-size: 16px;
}
.jipiao:hover{
	background-color: #3dbdb0;
	color: #0a6678;
}
.lvyou{
	background-color: #84ccc9;
	height: 47px;
	width: 102px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: white;
	font-size: 16px;
}
.lvyou:hover{
	background-color: #3dbdb0;
	color: #0a6678;
}
.menpiao{
	background-color: #84ccc9;
	height: 47px;
	width: 102px;
	padding-bottom: 3px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	color: white;
	font-size: 16px;
}
.menpiao:hover{
	background-color: #3dbdb0;
	color: #0a6678;
}
.baixian{
	height: 1px;
	width: 102px;
	background-color: white;
}
.rightxuanxiang{
	position: absolute;
	margin-top: -399px;
	margin-left: 322px;
	background-color: #0a6678;
	height:338px;
	width: 1px;
}
.guoneijiudian{
	position: absolute;
	color: #0a6678;
	font-size: 15px;
	font-weight: bold;
	margin-top: -385px;
	margin-left: 335px;
}
.guojijiudian{
	position: absolute;
	color: #666666;
	font-size: 15px;
	font-weight: bold;
	margin-top: -385px;
	margin-left: 413px;
}
.guojijiudian:hover{
	color: #0a6678;
}
.teseminsu{
	position: absolute;
	color: #666666;
	font-size: 15px;
	font-weight: bold;
	margin-top: -385px;
	margin-left: 491px;
}
.teseminsu:hover{
	color: #0a6678;
}
.underxuanxiang{
	position: absolute;
	background-color: #0a6678;
	width:279px;
	height: 2px;
	margin-top: -352px;
	margin-left: 334px;
}
.part1{
	position: absolute;
	margin-left: 332px;
	margin-top: -345px;
	font-size: 14px;
	color: grey;
}
.ruzhuchengshi{
	padding-bottom: 2px;
}
.shuru2{
	width: 279px;
	border: 1px solid #e6e6e6;
	padding: 5px;
    border-radius: 4px;
}
.part2{
	position: absolute;
	margin-left: 332px;
	margin-top: -289px;
	font-size: 14px;
	color: grey;
}
.shuru3{
	width: 110px;
	border: 1px solid #e6e6e6;
	padding: 5px;
    border-radius: 4px;
}
.part3{
	position: absolute;
	margin-left: 472px;
	margin-top: -289px;
	font-size: 14px;
	color: grey;
}
.likaishijian{
	padding-bottom: 2px;
}
.shuru4{
	width: 110px;
	border: 1px solid #e6e6e6;
	padding: 5px;
    border-radius: 4px;
}
.part4{
	position: absolute;
	margin-left: 331px;
	margin-top: -235px;
	font-size: 14px;
	color: grey;
}
.fangjian{
	padding-bottom: 2px;
}
.shuru5{
	width: 110px;
	border: 1px solid #e6e6e6;
	padding: 5px;
    border-radius: 4px;
}
.part5{
	position: absolute;
	margin-left: 472px;
	margin-top: -235px;
	font-size: 14px;
	color: grey;
}
.zhuke{
	padding-bottom: 2px;
}
.shuru6{
	width: 110px;
	border: 1px solid #e6e6e6;
	padding: 5px;
    border-radius: 4px;
}
.part6{
	position: absolute;
	margin-left: 331px;
	margin-top: -170px;
	font-size: 14px;
	color: grey;
}
.jiudianjibie{
	padding-bottom: 2px;
}
.shuru7{
	width: 110px;
	border: 1px solid #e6e6e6;
	padding: 5px;
    border-radius: 4px;
}
.part7{
	position: absolute;
	margin-left: 473px;
	margin-top: -170px;
	font-size: 14px;
	color: grey;
}
.guanjianci{
	padding-bottom: 2px;
}
.shuru8{
	width: 110px;
	border: 1px solid #e6e6e6;
	padding: 5px;
    border-radius: 4px;
}
.sousuo{
	position: absolute;
	border: solid #f47c53 ;
	width: 82px;
	height: 29px;
	background-color: #f47c53;
    border-radius: 5px;
    margin-left: 529px;
    margin-top: -100px;
    font-weight: bold;
    color: white;
}
.buttombeijing{
	background-color: #0f6f5c;
	width: 1440px;
	height: 116px;
	margin-top: -4px;
}
.buttomwenzi{
	text-align: center;
	margin-top: -100px;
	font-size: 12px;
	color: white;
}